@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  font-family: "Raleway", sans-serif !important;
  font-weight: 500 !important;
  font-size: 16px;
  color: rgba(231, 231, 235, 1) !important ;
}

.left__panel {
  min-height: 100vh;

  background-color: rgba(30, 33, 58, 1);
}
.right__panel {
  background-color: #100e1d;
}
.texto__claro {
  color: rgba(231, 231, 235, 1) !important;
}
