.img__bgClima {
  border-radius: 3rem;
  background-image: url("../img/Cloud-background.png");
  animation: mov 10s linear infinite;
}
.img__bgClima img {
  display: block;
  margin: auto auto;
}

@keyframes mov {
  0% {
    background-position: 0% 60%;
  }
  100% {
    background-position: 684px 60%;
  }
}
